.header {
  background-color: var(--primary-color);
}

.img-home {
  margin-left: 10rem;
  margin-bottom: 2rem;
  width: 150px;
}

#adress {
  background-color: red;
}

@media screen and (min-width: 796px) {
  .img-home {
    width: 300px;
  }
}
