.header {
  background-color: var(--primary-color);
}

.img-home {
  margin-left: 10rem;
  margin-bottom: 2rem;
  width: 150px;
}

#adress {
  background-color: red;
}

.card-home {
  border-radius: 20px;
  padding: 25px;
  width: 320px;
  height: 190px;
  margin: 20px;
}

.card-title {
  font-weight: 900;
  color: var(--color-white);
}

.card-image {
  width: 100%;
}

.modal .modal-body,
.modal .modal-header,
.modal .modal-footer,
.modal .modal-content {
  background-color: var(--color-tertiary);
  color: var(--color-primary);
  border: none;
}

@media screen and (min-width: 796px) {
  .card-home {
    width: 520px;
    height: 240px;
  }

  .img-home {
    width: 300px;
  }
}
